
/* Sizes */
:root {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    
    --small-spacing: 0.5rem;
    --x-small-spacing: 0.8rem;
    --medium-spacing: 1.0rem;
    --x-medium-spacing: 1.2rem;
    --xx-medium-spacing:1.5rem;
    --large-spacing: 2rem;
    --x-large-spacing: 2.5rem;

    --border-radius: 8px; 

    --logo-size-1: 80px;   
    --logo-size-2: 100px;
    --logo-size-3: 140px;


    --border-1: 2px;
    --border-2: 4px;
    --border-3: 6px;
    --border-4: 8px;
    --border-5: 10px;
    --border-6: 12px;
    --border-7: 14px;
    --border-8: 16px;


    /* modular spacing - 5 */
    --spacing-00: 2px;
    --spacing-0: 4px;
    --spacing-1: 8px; 
    --spacing-2: 16px; 
    --spacing-3: 24px; 
    --spacing-4: 32px; 
    --spacing-5: 40px;    
    --spacing-6: 45px;    
    --spacing-7: 50px;    

    /* Light Mode */
    /* colors - 8 */

    /* Text Colors */
    --t-color-body: black;  

    --t-color-navbar: black;
    --t-color-nav: black;

    --t-color-nav-button: rgb(170, 102, 0);
    --t-color-nav-button-hover:  rgb(65, 48, 0);

    --t-color-nav-item: black;
    --t-color-nav-item-holver: black;

    --t-color-brand: rgb(87, 55, 0);

    --t-color-h1:#333;
    --t-color-h2:#555;
    --t-color-h3:#777;
    --t-color-h4:#888;
    --t-color-h5:#999;
    --t-color-h6:#aaa;

    /* Background Colors */
    --bg-color-logo: white;   

    --bg-color-brand: rgb(248, 220, 137);

    --bg-color-body: rgb(251, 247, 238);

    --bg-color-nav-menu: rgb(249, 224, 181);

    --bg-color-navbar: rgb(249, 230, 167);
    --bg-color-nav: rgb(144, 1, 1);


    --bg-color-nav-button: rgb(247, 240, 212);
    --bg-color-nav-button-hover: rgb(249, 220, 146);

    --bg-color-nav-item: rgb(251, 243, 238);
    --bg-color-nav-item-hover: rgb(250, 210, 154);
    
    /* Border Colors */
    --b-color-logo: rgb(45, 171, 199);
    --b-color-brand: rgb(93, 58, 1);

    --b-color-nav-menu: rgb(57, 59, 7);

    --b-color-nav-button: rgb(160, 113, 2);
    --b-color-nav-button-hover: rgb(65, 48, 0);    

    --b-color-nav-item: rgb(202, 108, 65);
    --b-color-nav-item-hover: rgb(161, 60, 6);    

    --b-color-navbar: black;

    --b-color-h1: #ccc;
    --b-color-h3: #eee;

    /* Shadow Colors */
    --shadow-color-logo: rgb(45, 171, 199);
    --shadow-color-brand: rgb(96, 69, 0); 

}

body {
    color: var(--t-color-body-body);
    background-color: var(--bg-color-body);
    margin: 0px;
    /*Important: Add padding to body equal to navbar height to prevent content overlap */
    /* Deafult value if JS fails */
    padding-top: 0px; 
}

/* hierarchical typography - 5 */
/* H1 - Most prominent, main page title */
h1 {
    font-size: var(--x-large-spacing); /* Larger font size */
    color: var(--t-color-h1);
    margin-bottom: var(--spacing-2);
    border-bottom: var(--border-1) solid var(--b-color-h1);
    padding-bottom: var(--spacing-1);
}

/* H2 - Major section headings */
h2 {
    font-size: var(--large-spacing);
    color: var(--t-color-h2);
    margin-top: var(--spacing-4);
    margin-bottom: var(--spacing-2);
}

/* H3 - Sub-section headings */
h3 {
    font-size: var(--xx-medium-spacing);
    color: var(--t-color-h3);
    margin-top: var(--spacing-3);
    margin-bottom: var(--spacing-1);
    border-left: var(--border-3) solid var(--b-color-h3);
    padding-left: var(--border-5);
}

/* H4 - Sub-sub-section headings */
h4 {
    font-size: var(--x-medium-spacing);
    color: var(--t-color-h4);
    margin-top: var(--spacing-3);
    margin-bottom: var(--spacing-1);
}

/* H5 - Further levels of detail */
h5 {
    font-size: var(--medium-spacing); /* Standard paragraph size */
    color: var(--t-color-h5);
    font-style: italic;
    margin-top: var(--spacing-2);
    margin-bottom: var(--spacing-1);
}

/* H6 - Most specific, often used for captions or minor notes */
h6 {
    font-size: var(--x-small-spacing);
    color: var(--t-color-h6);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: var(--spacing-1);
    margin-bottom: var(--spacing-1);
}

.navbar {
    display: flex;
    flex-direction: row;
    align-content: center;  
    justify-items: flex-start;  
    position: fixed; /* Fixes the navbar to the top of the viewport */
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000; /* Fixes the number to the top of the viewport */
    background-color:  var(--bg-color-navbar);
    border-radius: var(--border-radius);
    border: var(--border-3) solid var(--b-color-navbar);
}

.navbar > div {
    display: flex;
    background-color: none;
    align-items: center;
}

.brand, .brand-logo {
    display: flex;
    justify-content: center;
    align-content: center;
    text-decoration: none;    
    color: var(--t-color-brand);    
    background-color:  none;
}

.brand-logo img {
    width: var(--logo-size-3);
    height: var(--logo-size-3);
    margin: var(--spacing-1);
    background-color: var(--bg-color-logo);
    border-radius: 50%; /* Make the image circular */
    border: 4px solid var(--b-color-logo); /* Add a border */
    box-shadow: -20px -0px 100px var(--shadow-color-logo);
}

.brand span {
    text-align: center;
    padding: 0 var(--spacing-1);
    border-radius: var(--spacing-4);
    background-color:  var(--bg-color-brand);
    border: 4px solid var(--b-color-brand); /* Add a border */
    box-shadow: 0px 10px 50px var(--shadow-color-brand);
    margin-top: var(--spacing-2);
}

.logo {
    display: flex;    
    background-color: none;
    justify-content: center;    
}

.group-titulo-items {
    display: flex;
    flex-direction: column; 
    align-items: center;  
    justify-content: space-around;     
    width: 100%; 
    /*height: calc(var(--logo-size-3) + 2 * var(--spacing-1));   */   
    background-color: none;
    box-sizing: border-box;
}

.titulo {
    display: flex;
    flex-direction: row;
    background-color:  none;
    width: 100%;  
    height: 100%;  
    align-items: center;
    justify-content: center;        
}

.titulo span {
    font-size: var(--x-large-spacing);    
}

.hamburguer {
    color: var(--t-color-nav-button);
    display: none; /* Hide by default on desktop */
    height: var(--spacing-5);
    width: var(--spacing-6);
    cursor: pointer;
    background-color: var(--bg-color-nav-button);
    border: none;
    padding: var(--spacing-0);
    margin: var(--spacing-2);
    border-radius: var(--border-7) 0px var(--border-7) 0px;  
    outline: var(--border-2) solid var(--b-color-nav-button);
    box-shadow: 0px 0px 20px var(--b-color-nav-button);
}

.hamburguer:hover {
    /*border: 1px solid white;*/
    color: var(--t-color-nav-button-hover);
    background-color: var(--bg-color-nav-button-hover);    
    outline: var(--border-2) solid var(--b-color-nav-button-hover);
    box-shadow: 0px 0px 20px var(--b-color-nav-button-hover);
    font-weight: 600;    
}

.hamburguer:hover .bar {    
    background-color: var(--t-color-nav-button-hover);       
}


.nav-menu a:hover {
    /*border: 1px solid white;*/
    background-color: var(--bg-color-nav-item-hover);    
    outline: var(--border-2) solid var(--b-color-nav-item-hover);
    font-weight: 600;    
}


.bar {
    display: block;
    width: 100%;
    height: 3px;
    margin: 5px 0;
    background-color: var(--t-color-nav-button);
}

.close {
    display: block;
    font-size: var(--xx-medium-spacing);
    width: 100%;
    height: 3px;
    margin: 5px 0;    
}

.nav-menu  {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    /*background-color: var(--bg-color-nav);*/
    height: 100%;

}

.nav-menu p {
    display: none;
}

.nav-link {
    color: var(--t-color-nav-item);
    text-decoration: none;
    margin: var(--spacing-1);
    padding: var(--spacing-0) var(--spacing-3);
    border-radius: var(--border-7) 0px var(--border-7) 0px;  
    background-color: var(--bg-color-nav-item);
    outline: var(--border-2) solid var(--b-color-nav-item);
}

main {
    margin: 10px;
    /* Default value if JS fails */
    margin-top: calc(var(--nav-height, calc(var(--logo-size-3) + 2 * var(--spacing-2))) + 10px);
}

/*  */
@media(prefers-color-scheme: dark) {
    /* Dark Mode */
    :root {
        /* colors - 8 */
        --primary-color: #ffffff;
        --secundary-color: #000000;
        --soft-shading: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
}

/* Mobile styles - when screen is  */
@media (max-width: 768px) { 
    .titulo span {
        font-size: var(--large-spacing);
        font-weight: 700;
    }   
}

/* Mobile styles - when screen is  */
@media (max-width: 600px) {
    main {
        /* Default value if JS fails */
        margin-top: calc(var(--nav-height, calc(var(--logo-size-2) + 2 * var(--spacing-2))) + 10px);
    }    

    .titulo span {
        font-size: var(--xx-medium-spacing);
        font-weight: 700;
    }   

    .brand-logo img {
        width: var(--logo-size-2);
        height: var(--logo-size-2);
    }    

    .nav-link {
        padding: var(--spacing-00) var(--spacing-2);
    }    
}

/* Mobile styles - when screen is small */
@media (max-width: 480px) {
    main {
        /* Default value if JS fails */
        margin-top: calc(var(--nav-height, calc(var(--logo-size-1) + 2 * var(--spacing-2))) + 10px);
    }    

    .brand-logo img {
        width: var(--logo-size-1);
        height: var(--logo-size-1);
    }  

    .navbar {
        align-items: center;        
    }

    .group-titulo-items {
        flex-direction: row;
        align-items: center;        
    }

    .titulo span {
        font-size: var(--x-medium-spacing);
        font-weight: 700;
    }    

    .brand span {
        margin-top: 0px;
    }    

    .hamburguer {
        display: block; /*Show hamburguer icon */
        min-width: var(--spacing-4);
    }

    .nav-menu {
        position: fixed; /* Make the menu itself fixed */
        top: 85px; /* Position below the fixed navbar */
        right: -100%; /* Hide off-screen by default */       
        height: fit-content;                
        display: flex;
        flex-direction: column;
        align-items: center;   
        transition: 0.3s;
        justify-content: center;
        padding: var(--spacing-0);
        border: var(--border-2) solid var(--b-color-nav-menu);
        border-radius: var(--border-8) 0px var(--border-8) 0px;  
        background-color: var(--bg-color-nav-menu);   
        box-sizing: border-box; 
    }

    .nav-menu p {
        display: block;
    }    

    .nav-menu.active {
        right: 0; /* Slide in the menu when active class is aded by JS */
    }

    .nav-link {   
        margin: var(--spacing-0);     
        padding: var(--spacing-1) var(--spacing-3);
        width: 100%;
        text-align: center;
        box-sizing: border-box;        
    }

    .nav-link:first-child {
        margin-top: 0px;
    }

    .nav-link:last-child {
        margin-bottom: 0px;
    }
}
